{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "49",
          "ie": "11"
        },
        "modules": false
      }
    ]
  ],
  "comments": false
}
